/* barlow-semi-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/barlow-semi-condensed-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/barlow-semi-condensed-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-semi-condensed-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-semi-condensed-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-semi-condensed-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-semi-condensed-v14-latin-regular.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}

  body {
      font-family: "Barlow Semi Condensed", sans-serif;
      background-color: black;
      color: white;
  }

  h1, p {
      font-family: "Barlow Semi Condensed", sans-serif;
      /* padding-top: 2rem; */
  }

  @media only screen and (min-width:1050px) {
    /* For tablets: */
    p {
      font-size: large;
    }

    .nav {
      font-size: larger;
    }
  }
  @media only screen and (max-width:1050px) {
    /* For mobile phones: */
    /* .about-image {
      width: 100%; 
      height: auto;
    } */
  }
  
  /* .subtitle{
    font-size: larger;
  } */

  a{
    color:white;
    /* text-decoration: underline */
  }
  a:hover{
    color:purple;
    /* text-decoration: underline */
  }

/* header */
.logo-container {
  padding-top: 2%;
  /* padding-bottom: 20px; */
  width: 150px;
  text-align: center;
}

.about-text {
  /* padding-top: 2%; */
  padding-right: 20%;
  padding-left: 20%;
  text-align: center;
}

.about-image {
  width: 50%; 
  height: auto;
}

/* composites grid */
.composites-container {
  margin: 2rem auto;
}

.gallery {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.gallery-item {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: all .3s;
}

.gallery-item:img {
  width: 100%;
  object-fit: cover;
}

/* Film Page */
.film-box {
  margin-inline: 0%;
  position: relative;
  padding-bottom: 60%; /* 16:9 */
  height: 0;
}
.film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.film-text {
  margin-inline: 20%;
  position: relative;
  padding-bottom: 7%;
  height: 0;
  text-align: center;
}

.film-link {
  text-align: center;
  font-size: larger;
  font-style: italic;
}
